# Configurações do servidor de e-mail
EMAIL_REMETENTE=seuemail@gmail.com
SENHA_APP=sua_senha_de_app

# Configurações SMTP (opcionais, valores padrão para Gmail)
# SMTP_SERVIDOR=smtp.gmail.com
# SMTP_PORTA=587
